/* variables.css */

/* Tema Claro */
:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #0cd1e8;
  --ion-color-tertiary: #7044ff;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffce00;
  --ion-color-danger: #f04141;
  --ion-color-dark: #222428;
  --ion-color-medium: #989aa2;
  --ion-color-light: #f4f5f8;
}

/* Tema Oscuro */
body.dark {
  --ion-color-primary: #222428;
  --ion-color-secondary: #f4f5f8;
  --ion-color-tertiary: #7044ff;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffce00;
  --ion-color-danger: #f04141;
  --ion-color-dark: #f4f5f8;
  --ion-color-medium: #989aa2;
  --ion-color-light: #222428;
}
