<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Nasa</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Nasa</ion-title>
        </ion-toolbar>
      </ion-header>
      <div v-for="list in listapi" :key="list">
        <CardContenido :titulo="list.title" :picture="list.url" :subtitle="list.date" :descriptions="list.explanation" />
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';
import CardContenido from '@/components/CardComponents.vue';
import { list } from "../services/expend.service";

export default defineComponent({
  name: 'Tab1Page',
  components: {
    IonPage, 
    IonHeader, 
    IonToolbar, 
    IonTitle, 
    IonContent, 
    CardContenido
  },
  setup() {
    const listapi = ref(null);

    const listRestApi = async () => {
      listapi.value = await list();     
    };

    onMounted(() => {
      listRestApi();
    });

    return {
      listapi
    };
  }
});
</script>

