<template>
  <div id="container">
    <ion-card>
      <img :alt="titulo" :src="picture" width="100%" height="250" />
      <ion-card-header>
        <ion-card-title>{{ titulo }}</ion-card-title>
        <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ descriptions }}       
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import {
  IonCard,
  IonCardContent,
  IonCardHeader,
  IonCardSubtitle,
  IonCardTitle
} from "@ionic/vue";
import { heart } from 'ionicons/icons';
import { toggleDarkMode } from "../services/theme.service";
export default defineComponent({
  components: {
    IonCard,
    IonCardContent,
    IonCardHeader,
    IonCardSubtitle,
    IonCardTitle
  },
  props: {
    titulo: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    descriptions: {
      type: String,
      required: true,
    },
    picture: {
      type: String,
      required: true
    }
  },
  setup() {
    return {
      heart,
    };
  },
  methods: {
    toggleTheme(event: { detail: { checked: any } }) {
      toggleDarkMode(event.detail.checked);
    },
  },
});
</script>

<style scoped>
#container {
  padding: 16px;
}
</style>
